html {
  height: 100%;
}

body {
  line-height: 50px;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
  color: white;
}


ol,
ul {
  list-style: none;
}

blockquote p {
  margin-left: -15px;
  border-radius: 5px;
  padding: 5px 18px 5px 0px;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.mini_logo {
  height: 15px;
  width: 15px;
}

.down {
  height: 10px;
  width: 10px;
}

.logo {
  height: 150x;
  width: 220px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mainContent {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 170px;
}

.mainImages {
  max-width: 90%;
  height: 200px;
}

footer {
  width: 96%;
  height: 100%;
  padding: 0 2% 0;
}

.footer_element {

  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  align-items: flex-start;
}

.icons {
  width: 300px;
}

.nav_list {
  padding: 20px;

  font-style: normal;
}

.nlink {
  font-style: normal;
  font-size: 22 px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.nav_link {
  font-style: normal;
  font-size: 22 px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.footer_element h4 {
  margin-left: 50px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  padding: 1px;

}

.footer_text {
  width: 100%;
  padding: 25px;
  line-height: 2;
  font-style: normal;
  font-size: 40 px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;

}

.links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.links a {
  padding: 5px 18px 5px 0px;
}

.footer_text span {
  padding: 5px 150px 5px 0px;
}

.product {
  width: 20%;
  background: rgb(164, 158, 156);
  margin: 1%;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.image img {
  max-height: 90%;
  border-radius: 7px;
}

.image {
  margin-bottom: 0px;
}

.info h3 {
  font-size: 21px;
  font-weight: 700;
  margin-top: 0px;
  line-height: 1.5;
}

.info {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info_price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.add-to-cart {
  height: 40px;
  width: 40px;
  background-color: #8bc34a;
  color: #fff;
  border-radius: 10px;
}

.price {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-top: 0px;
  margin-left: 110px;
  font-weight: 700;
}